# Desafío Análisis Multivariado- Negrete Francisco

## Importar librerías

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns; sns.set_theme()
from seaborn import boxplot
from seaborn import distplot
from seaborn import lmplot
from scipy.stats import ttest_ind
from scipy.stats import chi2_contingency

In [4]:
df =pd.read_csv('marketing_campaign.csv', sep=";", decimal=",")

In [149]:
df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,2013-06-13,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,2014-01-25,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,2014-01-24,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,2012-10-15,40,84,...,7,0,0,0,0,0,0,3,11,1

## Métodos para conocer composición del DataFrame

In [406]:
#Ver las columnas
for columns in df:
    print(columns)

ID
Year_Birth
Education
Marital_Status
Income
Kidhome
Teenhome
Dt_Customer
Recency
MntWines
MntFruits
MntMeatProducts
MntFishProducts
MntSweetProducts
MntGoldProds
NumDealsPurchases
NumWebPurchases
NumCatalogPurchases
NumStorePurchases
NumWebVisitsMonth
AcceptedCmp3
AcceptedCmp4
AcceptedCmp5
AcceptedCmp1
AcceptedCmp2
Complain
Z_CostContact
Z_Revenue
Response

In [ ]:
#Vemos los tipos de datos de cada una de las columnas
df.dtypes

In [ ]:
df.info()

In [7]:
#Ver la cantidad de filas y columnas

print("La cantidad de filas y columnas de p_data es:", df.shape)

La cantidad de filas y columnas de p_data es: (2240, 29)

In [ ]:
df.describe()

In [ ]:
df.describe().T

## Pruebas, Validaciones y EDA

In [ ]:
#Prueba y validación de valores NaN en df

print("Dataframe el Dataframe: \n")
print(df)

df_p_null = df.isnull()
print("Dataframe para corroborar: \n")
print(df_p_null)

In [11]:
#Vuevlo a hacer otro tipo de validación para valores NaN en df

check_for_any_nan= df.isna().any().any()
total_nan_values = df.isna().sum().sum()

print("NaN presentes es df:"+str(check_for_any_nan))
print ("Cantidad total de valores NaN:"+str(total_nan_values))

NaN presentes es df:True
Cantidad total de valores NaN:24

In [12]:
#Conocer la cantidad de valores unicos que existen para cada columna.
#A continuación hago una función para evaluar cada columna que se necesite saber su información, sin tener que realizar todos los prints por separado.

def unique_values(x):
    
    return x.unique()
    
values = unique_values(df["Response"])

print("Los valores únicos de la siguientes columna son:", values)

Los valores únicos de la siguientes columna son: [1 0]

In [13]:
#Otro doble chequeo para conocer si los ID se repiten.

f = df.ID.unique()

#Utilizo otro método con Numpy. El return_counts obtiene el número de ocurrencias de cada valor

np.unique(df["ID"], return_counts=True)

(array([    0,     1,     9, ..., 11187, 11188, 11191], dtype=int64),
 array([1, 1, 1, ..., 1, 1, 1], dtype=int64))

## Análisis Multivariado de los datos

## 1) Compra de productos: Fish, Meat, Fruit, Sweet, Wines, Gold

In [2]:
#Correlación entre las distintas variables, elegidas teniendo en cuenta el contenido de las columnas

In [ ]:
matrix1 = df[['MntFishProducts', 'MntMeatProducts', 'MntFruits', 'MntSweetProducts', 'MntWines', 'MntGoldProds']]
mx_sum = matrix1.sum()
mx_sum

### Bar Chart

In [ ]:
matrix1.sum().plot(kind="bar", figsize=(12, 8), 
                   rot=60, fontsize= 15, cmap="coolwarm")
plt.xlabel("Food Variables", fontsize=20)
plt.ylabel("Amount bought", fontsize=20)
plt.title("Food Purchases", fontsize = 20)

### Matriz de correlación de variables

In [ ]:
mxcorr = matrix1.corr()
mxcorr.style.background_gradient(axis=0)  
#mxcorr.style.format(na_rep='MISS', precision=3) Éste método fija los decimales que se quieran, pero no lo pude juntar con el color

### Pairplot

In [ ]:
colors = ["#FF0B04"]
sns.set_palette(sns.color_palette(colors))
sns.pairplot(mxcorr)
plt.show()

### Pie Chart

In [ ]:
mx_avg = matrix1.mean()
plt.title("Market Food Preference", fontsize = 20)
mx_avg.plot.pie(y='Avg', figsize = (10,10), fontsize= 15, cmap = 'coolwarm', 
                explode = (0, 0, 0, 0 ,0.05, 0), autopct = '%1.1f%%');
#el semicolon elimina el msj predeterminado

#### Dato Importante: la variable mx_avg reúne el promedio de cada una de las columnas, no el promedio total. El Pie Chart junto con el método autopct me dan los porcentajes luego.

### Income Vs Market Food Preference: Bar Chart

In [298]:
#Busco cual es el salario promedio (sin tener en cuenta outliers, por lo que podría usar otra métrica también)
income_avg = df["Income"].mean()
print("El salario promedio es: $", round(income_avg))

El salario promedio es: $ 52247

In [192]:
#Busco por separado el promedio de cada una de las columnas. A esto lo tengo que cambiar por una función.
income_fish = df["MntFishProducts"].mean()
income_meat = df["MntMeatProducts"].mean()
income_fruits = df["MntFruits"].mean()
income_sweet = df["MntSweetProducts"].mean()
income_wine= df["MntWines"].mean()
income_gold = df["MntGoldProds"].mean()

In [ ]:
#Acá tengo el avg total de todas las columnas
total_avg_sum = mx_avg.sum()
total_avg_sum

In [205]:
#Función para calcular cada uno de los porcentajes, para saber cuanto del sueldo en pesos se gasta en cada producto
def perc(x):
    
    return x * 100 / total_avg_sum
    
fish = perc(income_fish)
meat = perc(income_meat)
fruits = perc(income_fruits)
sweet = perc(income_sweet) 
wine = perc(income_wine) 
gold = perc(income_gold)

In [249]:
#Utilizo una list comprehension para ver cuanto es en pesos lo que se gasta anualmente (teniendo en cuenta que solo se gaste en los productos y mercados analizados)

lista_super_anual = [fish, meat, fruits, sweet, wine, gold]

gasto_total = [income_avg * x / 100 for x in lista]

In [251]:
lista_mercado = ['pescado', 'carne', 'fruta', 'dulces', 'vino', 'oro']

In [ ]:
#Finalmente acá hago un gráfico donde se puede ver cuanto se gasta en dinero anualmente por cada producto que se compra
fig = plt.figure(figsize = (10, 10))
plt.bar(lista_mercado, gasto_total, color = 'mediumslateblue')
plt.xlabel("Lista de Compras Anual", fontsize=18)
plt.ylabel("Cantidad Gastada", fontsize=18)
plt.title("División de Gastos Anuales", fontsize=20)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)
plt.show()

## 2) Income: Kids Home, Teens Home, Salary Types

### Bar Chart: Ingresos Vs Status Marital Vs Niños

In [ ]:
#En este gráfico comparo tres variables, y hay bastante para analizar.
sns.set_style('whitegrid')
sns.catplot(x="Marital_Status", y="Income", data=df, kind="bar", col="Kidhome", palette = 'Paired')

#### En este gráfico, como puse, hay varias cosas para mencionar. Primero, tenemos varios outliers en los sueldos, sobre todo en los que creen que el matrimonio es absurdo y que, además, no tienen hijos. 
#### Otra cosa, es que cuanto más hijos se tienen, menor parece ser los ingresos. Se podría decir que es una variable directamente proporcional.
#### Por último, se puede apreciar como en el primer gráfico, aparecen con salario los Absurd y los YOLO que, justamente no tienen hijos. En los dos restantes, no figuran con ingresos.

### Bar Chart: Ingresos Vs Status Marital Vs Adolescentes

In [ ]:
sns.set_style('whitegrid')
sns.catplot(x="Marital_Status", y="Income", data=df, kind="bar", col="Teenhome", palette = 'Paired')

#### Lo que me queda de este Dataset, es que diferencia la cantidad de hijos que tienen en una casa. Me queda sumar las dos columnas (Kidhome y Teenhome), para saber efectivamente cuantas personas hay.

### Salary Types

In [ ]:
#Vuelvo a utilizar este gráfico del desafío anterior, para ver como se distribuyen los sueldos
distplot(df.Income)

In [396]:
#Para esta sección, lo que intento es hacer una discriminación de los salarios, para que queden agrupados de otra forma
#Tienen carácter subjetivo, pero basicamente separo en tres dentro de la curva del gráfico, más un tipo de salario más, los que se encuentra por fuera

In [ ]:
outlier_income = df.loc[df["Income"] >= 100000]
high_income = df[(df.Income >= 65000) & ( df.Income < 100000)]
medium_income = df[(df.Income >= 40000) & ( df.Income < 65000)]
low_income = df[(df.Income < 40000)]

In [393]:
salary_list = [low_income["Income"].count(), medium_income["Income"].count(), high_income["Income"].count(), outlier_income["Income"].count()] 

salary_type = ["Low", "Medium", "High", "Outlier"]

salary_list

[732, 808, 663, 13]

In [ ]:
#Gráfico para ver la división de salarios de las personas
fig = plt.figure(figsize = (10, 10))
plt.bar(salary_type, salary_list, color = 'mediumslateblue')
plt.xlabel("Salarios", fontsize=18)
plt.ylabel("Cantidad de Personas", fontsize=18)
plt.title("División de Salarios Anuales", fontsize=20)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)
plt.show()

## 3) Response Vs Education

In [449]:
ff = df.groupby(["Education", "Response"])

tt = ff.size()

vvv = tt.reset_index()

In [ ]:
tabla_pivote = pd.pivot_table(vvv, columns="Response", index = "Education", values = 0)

tabla_pivote

In [ ]:
tabla_pivote.plot(kind="bar", stacked = True, figsize=(12, 8), 
                   rot=60, fontsize= 15, cmap="coolwarm")

#### Este análisis es más bivariado, pero muestra, por tipo de educación, que cantidad de personas tuvieron una Response afirmativa; lo cual, en mayoría de casos, fue negativa.